<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Funny Crab Pictures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/styles.css"/>
    </head>
    <body>
        <header>
            <h1>
                <img class="logo"/>
                Funny Crab Pictures
            </h1>

            <section class="profile">
                <div>
                    <strong class="name">{{ profile.name }}</strong>
                    <small class="title">{{ profile.title }}</small>
                    <a href="/profile/edit">edit</a>
                </div>
                <img class="profile" src="{{ profile.image }}"/>
            </section>
        </header>

        <nav>
            <a class="upload" href="#uploadImage">upload</a>
        </nav>
        
        <main>
            <ol class="images">
                {% for image in images %}
                <li>
                    <a href="{{ image.source }}">
                        <figure>
                            <img src="{{ image.url }}"/>
                            <figcaption>{{ image.description }}</figcaption>
                            <!-- TODO Like Image -->
                        </figure>
                    </a>
                </li>
                {% endfor %}
            </ol>
        </main>

        <footer>© 2021 tma</footer>

        <hr/>

        <form id="uploadImage">
            <fieldset>
                <legend>Upload Image</legend>
            </fieldset>
        </form>

    </body>
</html>