html {
    background-color: #333;
}

body {
    max-width: 60rem;
    margin: 0 auto;
    background-color: #FFF;
    padding: 1rem;
    font-family: Geneva, Verdana, sans-serif;
}

header {
    background-color: #888;
    display: flex;
    justify-content: space-between;
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0;
}   

img.logo {
    width: 4rem;
    height: 4rem;
    background-color: #333;
    margin-right: 1rem;
}

.profile {
    display: flex;
}

.profile > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile .name {
    font-weight: 700;
    font-size: large;
}

img.profile {
    width: 4rem;
    height: 4rem;
    background-color: #333;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ol.images {
    list-style: none;
    padding-inline-start: 0;
}

ol.images img {
    max-width: 100%;
}

ol.images > li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

ol.images > li figure {
    margin: 0;
}

footer {
    background-color: #888;
    display: flex;
    margin: 1rem -1rem 1rem -1rem;
    padding: 1rem;
}
